html{
    height: 100%;
}

body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
}
#addContact{
    background-color: darkcyan;   
}
#refresh{
background-color: darkcyan;
}
/*=================TABLE==================*/

tr{
    background-color: royalblue;
}
.contacts:hover{
    color: yellow;
}